.login_logo {
  margin-top: 20px;
  margin-bottom: 20px;
  -o-object-fit: contain;
  width: 100px;
  margin-right: auto;
  margin-left: auto;
}
.login {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  background-color: white;
}
.login_container {
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 20px;
}
